<h2>Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
    
        <form action="">

            <!-- Campo de producto -->
            <div class="mb-3 row">
            
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9"></div>
                <input type="text"
                       class="form-control"
                       placeholder="Nombre del producto"  />
                <span class="form-text text-danger">Debe de ser de 3 letras</span>

            </div>

            <!-- Campo de precio -->
            <div class="mb-3 row">
            
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9"></div>
                <input type="number"
                       class="form-control"
                       placeholder="Precio del producto"  />
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
            
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9"></div>
                <input type="number"
                       class="form-control"
                       placeholder="Existencias del producto"  />
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>

        </form>

    </div>
</div>